body {
    background: #eee1e7;
    height:1269px;
}
.col-md-7 {
    position: absolute;
    width: 330px;
    height: 30px;
    right:40px;
    top: 120px;
}
.col-sm-2 {
    color: hotpink;
}
.namae-img {
    border: 5px solid hotpink;
}
h3 {
    border-left:10px solid hotpink;
    scroll-padding-right: 10px;
    height:28px;
}
.can-img {
    padding: 300px;
    margin-left: 50px;
    width: 350px;
    height: 300px;
}
.abc {
     padding-top: 40px;
     margin-left: 37px;
}
.col-xl-4 {
    padding-left: 700px;
    margin-left: 500px;
}
.bimbo {
    width: 350px;
    padding-right: 50px;
    margin-left: 30px;
}